.radio-icons-list .row-field-option {
    float: left;
    margin-right: 10px;
}
.radio-icons-list .field-value {
    float: right;
    height: 20px;
    padding-top: 8px;
}

.radio-icons-list .row-field-option label span {
    overflow: hidden;
    color:transparent;
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.radio-icons-list .row-field-option .control-radio {
    display: none;
}
.radio-icons-list .icon-button_width-narrow {
    background: url(../images/button/width-narrow.svg) no-repeat 50% 50%;
}
.radio-icons-list .icon-button_width-wide {
    background: url("../images/button/width-wide.svg") no-repeat 50% 50%;
}
.radio-icons-list .icon-button_width-custom-width {
    background: url("../images/button/width-custom.svg") no-repeat 50% 50%;
}
.radio-icons-list .icon-button_corners-corner-round {
    background: url(../images/button/corner-round.svg) no-repeat 50% 50%;
}
.radio-icons-list .icon-button_corners-corner-rounded {
    background: url(../images/button/corner-rounded.svg) no-repeat 50% 50%;
}
.radio-icons-list .button_corners-corner-square {
    background: url(../images/button/corner-square.svg) no-repeat 50% 50%;
}
.radio-icons-list .icon-button_colour-dark {
    background: url(../images/button/colour-dark.svg) no-repeat 50% 50%;
}
.radio-icons-list .icon-button_colour-light {
    background: url(../images/button/colour-light.svg) no-repeat 50% 50%;
}
.radio-icons-list .icon-button_height-height-small {
    background: url(../images/button/height-small.svg) no-repeat 50% 50%;
}
.radio-icons-list .icon-button_height-height-large {
    background: url(../images/button/height-large.svg) no-repeat 50% 50%;
}

.row-ic-button td.value {
    max-width: 300px;
    overflow-x: auto;
}
.row-ic-button .instant-button{
    --ic-blue: #041f63;
    --ic-white: #fff;
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    gap: 5px;
    justify-content: center;
    line-height: 21px;
    text-align: center;
    transition: all 0.5s ease 0s;
    padding: 0;
}
.row-ic-button .instant-button.dark {
    background: rgb(4, 31, 99);
    border: 0;
    color: #ffffff;
}
.row-ic-button .instant-button.light {
    background: #ffffff;
    border: 1px solid #041f63;
    color: #041f63;
}

.row-ic-button .instant-button.corner-round {
    border-radius: 3em;
}
.row-ic-button .instant-button.corner-rounded {
    border-radius: 0.25em;
}
.row-ic-button .instant-button.corner-square {
    border-radius: 0;
}

.row-ic-button .instant-button.height-large.narrow {
    height: 42px;
    min-width: 170px;
    padding: 0 26px;
}
.row-ic-button .instant-button.height-large.wide {
    height: 42px;
    padding: 0 26px;
    width: 100%;
}
.row-ic-button .instant-button.height-large.custom-width {
    height: 42px;
    padding: 0 26px;
    width: inherit;
}
.row-ic-button .instant-button.height-small.narrow {
    font-size: 16px;
    height: 29px;
    min-width: 140px;
}
.row-ic-button .instant-button.height-small.wide {
    font-size: 16px;
    height: 29px;
    width: 100%;
}
.row-ic-button .instant-button.wide img,
.row-ic-button .instant-button.custom-width img{
    max-width: 97px;
}
.row-ic-button .instant-button.height-small.custom-width {
    font-size: 16px;
    height: 29px;
    min-width: fit-content;
}

.row-ic-button .instant-button .mr-2 {
    margin-right: 0.5rem;
}
.row-ic-button .instant-button .ml-2 {
    margin-left: 0.5rem;
}
.radio-icons-list .row-field-option .control-radio:checked + label span {
    border: 1px dotted #041f63;
}
